body {
    background: gainsboro;
}

.chatbox {
    background: white;
    justify-content: center;
    width: 48%;
    margin: auto;
    border-radius: 20px;
    display: inline-block;
    margin-left: 20%;
}

.memberlist {
    display: inline-block;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: fit-content;
    margin-left: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    color: #0a0a0a;
    border-bottom: 2px solid;
    padding: 5px;
}

.SenderClass {
    left: 90%;
    background: #0b59ce;
    color: #ffffff;
    border: 1px solid #0b59ce;
}

.ReceiverClass {
    left: -98%;
    background: #c46909;
    color: #ffffff;
    border: 1px solid #c46909;
}

.MainChatListClass {
    padding: 5px;
    max-width: 250px;
    position: relative;
    border-radius: 5px;
    word-wrap: break-word;
    margin-top: 5px;
    min-width: 220px;
    display: table-caption;
}

.--SenderClass::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 243px;
    top: 0px;
    border: 10px solid;
    border-color: transparent transparent #0b59ce #0b59ce;
}

.--ReceiverClass::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 243px;
    top: 3px;
    border: 10px solid;
    border-color: #c46909 #c46909 transparent transparent;
}

.pre-scrollable {
    max-height: 340px;
}

.datalist {
    vertical-align: middle;
    min-height: 480px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    width: -webkit-fill-available;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    color: white;
}

.panel {
    margin: auto;
    */ display: flex;
    justify-content: center;
}

.Form1 {
    position: relative;
    left: 0;
    width: 100%;
    padding-top: 50px;
}

.chat-textbox {
    text-align: center;
    margin: auto;
    border-top: 2px solid black;
    padding: 10px;
}

.round-image {
    border-radius: 25px;
}

.receiver-image {
    position: relative;
    left: -90%;
    float: left;
}

.sender-image {
    position: relative;
    right: -520px;
    float: left;
}

.button-layout {
    margin-top: 10px;
    border-top: 2px solid black;
    padding-top: 5px;
}

.membertable {
    overflow-y: auto;
    max-height: 450px;
}


/*===============================global =================================*/

.left-menu {
    position: absolute;
    width: 250px;
    top: 0%;
    background-color: #ec1da4e6;
    padding-left: 10px;
    height: 100%;
    padding-bottom: 500em;
    margin-bottom: -500em;
    overflow: hidden;
}

.left-hb {
    background-color: #333;
    color: white;
    width: 240px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#t01 td {
    padding: 10px;
}

.zoom {
    transition: transform .3s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}

h3 {
    border-bottom: double;
}

.right-menu {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0%;
    right: 0%;
    background-color: #ec1da4e6;
    padding-right: 10px;
    padding-bottom: 500em;
    margin-bottom: -500em;
    overflow: hidden;
}

#Clock td {
    padding: 2px;
}

.ClockArea {
    width: 100%;
    background: gray;
}