/*#main, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}*/

/*================================================Fixed==================================*/
.Form1 {
    position: relative;
    top: 100px;
    left: 0;
    bottom: 100px;
    width: 100%;
}

.personal {
    position: absolute;
    top: 26%;
    height: 100%;
    left: 21%;
}

#m1 {
    background: white;
}

.backgroundimage {
    position: relative;
    width: 850px;
    height: 310px;
}

.profile-picture {
    position: absolute;
    background-color: white;
    border-style: groove;
    width: 155px;
    height: 155px;
    top: 140px;
    left: 0%;
    margin-left: 70px;
}

.imgClass {
    width: 150px;
    height: 150px;
    padding: 2px;

}

.buttonlists {
    position: relative;
    background-color: white;
    float: right;
}

.personal_info {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 350px;
    left: 0px;
    border: 2px solid;
    border-radius: 12px;
}

.personal_invites {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 350px;
    left: 0px;
    border: 2px solid;
    border-radius: 12px;
}

.personal_pictures {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 350px;
    left: 0px;
    border: 2px solid;
    border-radius: 12px;
}

.personal_rooms {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 350px;
    left: 0px;
    border: 2px solid;
    border-radius: 12px;
}

.personal_friends {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 350px;
    left: 0px;
    border: 2px solid;
    border-radius: 12px;
}

.personal_post {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    width: 450px;
    height: 350px;
    left: 0px;
    border: 2px solid;
    border-radius: 12px;
}
