body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    min-height: 100vh;
    font-family: montserrat;
    background: linear-gradient(#ccffff,#c8f6fa,#b0c4de 80%) fixed no-repeat;
    box-sizing: border-box;
}


.register_layout {
    width: 280px;
    height: 485px;
    padding: 42px 40px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    margin: auto;
    text-align: center;
}

    .register_layout h1 {
        color: azure;
        text-align: center;
        margin-top: -30px;
    }

.rg_td_left {
    color: white;
}

.btn_submit {
    margin-top: 20px;
    background-color: #b0c4de;
    width: 70px;
    height: 30px;
}

.redirect {
    padding-top: 13px;
}

.rg_td_right {
    padding: 0;
}

.rg_td_center {
    padding: 0;
}
